*.pyc
__pycache__
.git
.gitignore
.venv
.venv.*
venv
**/node_modules
**/.pytest_cache
**/.ruff_cache
**/dist
**/coverage
*.idea
*.vscode
*.env
auth.json
*.key
*.pem
*.p12
*.jks
*.keystore
**/unpackage/
*.apk
*.aab
*.ipa
*.wgt
media/
staticfiles/
backups/
